## Module 4

#### In this assignment, you will continue working on the movie data from IMDB.
- The data includes movies and ratings from the IMDB website
- Data File(s): imdb.xlsx

#### Data file contains 3 sheets:
- “imdb”: contains records of movies and ratings scraped from IMDB website
- “countries”: contains the country (of origin) names
- “directors”: contains the director names

We have loaded and joined the data as "df" for you. Follow the instructions and finish the rest part.

In [ ]:
###########################################################
### EXECUTE THIS CELL BEFORE YOU TO TEST YOUR SOLUTIONS ###
###########################################################

import imp, os, sys
sol = imp.load_compiled("solutions", "./solutions.py")
sol.get_solutions("imdb.xlsx")
from nose.tools import assert_equal
from pandas.util.testing import assert_frame_equal, assert_series_equal

In [1]:
# Loading the data
import pandas as pd

xls = pd.ExcelFile('imdb.xlsx')
df = xls.parse('imdb')
df_directors = xls.parse('directors')
df_countries = xls.parse('countries')

df = pd.merge(left=df, right=df_countries, 
              how='inner', left_on='country_id', 
              right_on='id')

df = pd.merge(left=df, right=df_directors, 
              how='inner', left_on='director_id', 
              right_on='id')

print("Finished.")

Finished.

In [2]:
df

,movie_title,director_id,country_id,content_rating,title_year,imdb_score,gross,duration,id_x,country,id_y,director_name
0,The Shawshank Redemption,34,1,R,1994,9.3,28341469,142,1,USA,34,Frank Darabont
1,The Shawshank Redemption,34,1,R,1994,9.3,28341469,142,1,USA,34,Frank Darabont
2,The Green Mile,34,1,R,1999,8.5,136801374,189,1,USA,34,Frank Darabont
3,The Green Mile,34,1,R,1999,8.5,136801374,189,1,USA,34,Frank Darabont
4,The Godfather,33,1,R,1972,9.2,134821952,175,1,USA,33,Francis Ford Coppola
...,...,...,...,...,...,...,...,...,...,...,...,...
403,Dancer in the Dark,66,13,R,2000,8.0,4157491,140,13,Denmark,66,Lars von Trier
404,Pan's Labyrinth,42,17,R,2006,8.2,37623143,112,17,Spain,42,Guillermo del Toro
405,The Sea Inside,2,17,PG-13,2004,8.1,2086345,125,17,Spain,2,Alejandro Amenabar
406,The Secret in Their Eyes,61,16,R,2009,8.2,20167424,129,16,Argentina,61,Juan Jose Campanella
407,Mad Max: Fury Road,39,19,R,2015,8.1,153629485,120,19,Australia,39,George Miller

In [3]:
""" Q1: 
Get the summary statistics for imdb_score and gross, then use the describe() function to summarize this visually. Save the
result in a variable called score_gross_description and print it.
"""

# your code here

df.describe()

,director_id,country_id,title_year,imdb_score,gross,duration,id_x,id_y
count,408.000000,408.000000,408.000000,408.000000,4.080000e+02,408.000000,408.000000,408.000000
mean,61.470588,2.492647,1997.247549,8.352696,1.231909e+08,140.122549,2.492647,61.470588
std,33.086501,3.371356,15.036565,0.287397,1.304926e+08,35.831913,3.371356,33.086501
min,1.000000,1.000000,1927.000000,8.000000,8.060000e+03,73.000000,1.000000,1.000000
25%,26.000000,1.000000,1991.000000,8.100000,2.488263e+07,116.000000,1.000000,26.000000
50%,71.000000,1.000000,2001.000000,8.300000,7.493675e+07,134.000000,1.000000,71.000000
75%,88.000000,1.000000,2008.000000,8.500000,1.879914e+08,154.500000,1.000000,88.000000
max,117.000000,19.000000,2016.000000,9.300000,6.232795e+08,293.000000,19.000000,117.000000

In [ ]:
assert_frame_equal(score_gross_description, sol.score_gross_description)

In [4]:
"""Q2:
What is the average rating of the director Christopher Nolan's movies? Save this value in a variable called nolan_mean and 
print.
"""

df["director_name"].value_counts()

Christopher Nolan      49
Martin Scorsese        36
Quentin Tarantino      36
Steven Spielberg       25
Ridley Scott           16
                       ..
Alejandro Amenabar      1
Danny Boyle             1
Oliver Hirschbiegel     1
James McTeigue          1
Asghar Farhadi          1
Name: director_name, Length: 117, dtype: int64

In [5]:
chrisnolan = df[df["director_name"] == "Christopher Nolan"]

In [6]:
chrisnolan.describe()

,director_id,country_id,title_year,imdb_score,gross,duration,id_x,id_y
count,49.0,49.0,49.000000,49.000000,4.900000e+01,49.000000,49.0,49.0
mean,16.0,1.0,2007.857143,8.600000,2.494235e+08,143.428571,1.0,16.0
std,0.0,0.0,4.401704,0.216025,1.776202e+08,19.153981,0.0,0.0
min,16.0,1.0,2000.000000,8.300000,2.553088e+07,113.000000,1.0,16.0
25%,16.0,1.0,2005.000000,8.500000,5.308274e+07,128.000000,1.0,16.0
50%,16.0,1.0,2008.000000,8.500000,2.053438e+08,148.000000,1.0,16.0
75%,16.0,1.0,2012.000000,8.800000,4.481306e+08,164.000000,1.0,16.0
max,16.0,1.0,2014.000000,9.000000,5.333161e+08,169.000000,1.0,16.0

In [ ]:
assert_equal(nolan_mean, sol.nolan_mean)

In [7]:
"""Q3: 
Create a series called 'directors' that contains each director's name and his or her average rating.  Print out the type of your variable.
Use the 'directors' series to find the average rating for Steven Spielberg.  Print the value.
"""

# your code here

df.groupby("director_name").mean()

,director_id,country_id,title_year,imdb_score,gross,duration,id_x,id_y
director_name,,,,,,,,
Akira Kurosawa,1.0,4.0,1954.0,8.70,269061.0,202.0,4.0,1.0
Alejandro Amenabar,2.0,17.0,2004.0,8.10,2086345.0,125.0,17.0,2.0
Alejandro G. Inarritu,3.0,9.5,2007.5,8.10,94509878.0,135.5,9.5,3.0
Alfred Hitchcock,4.0,1.0,1960.0,8.50,32000000.0,108.0,1.0,4.0
Andrew Stanton,5.0,1.0,2005.5,8.30,302322879.5,99.0,1.0,5.0
...,...,...,...,...,...,...,...,...
Victor Fleming,113.0,1.0,1939.0,8.15,110428945.0,164.0,1.0,113.0
Vincent Paronnaud,114.0,7.0,2007.0,8.00,4443403.0,89.0,7.0,114.0
Wes Anderson,115.0,1.0,2014.0,8.10,59073773.0,99.0,1.0,115.0
Wolfgang Petersen,116.0,12.0,1981.0,8.40,11433134.0,293.0,12.0,116.0
Woody Allen,117.0,1.0,1977.0,8.10,39200000.0,93.0,1.0,117.0

In [8]:
directors = pd.DataFrame(df.groupby("director_name")["imdb_score"].mean())

In [9]:
directors

                       imdb_score
director_name
Akira Kurosawa               8.70
Alejandro Amenabar           8.10
Alejandro G. Inarritu        8.10
Alfred Hitchcock             8.50
Andrew Stanton               8.30
...                           ...
Victor Fleming               8.15
Vincent Paronnaud            8.00
Wes Anderson                 8.10
Wolfgang Petersen            8.40
Woody Allen                  8.10

[117 rows x 1 columns]

In [10]:
directors.loc["Steven Spielberg"]

imdb_score    8.48
Name: Steven Spielberg, dtype: float64

In [ ]:
assert_series_equal(directors, sol.directors)

In [11]:
"""Q4:
Select the non-USA (country_id=1) movies and movies made after 1960 by Hayao Miyazaki (director_id=46).
What are the years returned? Save them in a series called 'miyazaki', then print it.
"""

# your code here

hayaomiyazaki = df[df["director_name"] == "Hayao Miyazaki"]

In [12]:
hayaomiyazaki

,movie_title,director_id,country_id,content_rating,title_year,imdb_score,gross,duration,id_x,country,id_y,director_name
346,Spirited Away,46,4,PG,2001,8.6,10049886,125,4,Japan,46,Hayao Miyazaki
347,Spirited Away,46,4,PG,2001,8.6,10049886,125,4,Japan,46,Hayao Miyazaki
348,Spirited Away,46,4,PG,2001,8.6,10049886,125,4,Japan,46,Hayao Miyazaki
349,Princess Mononoke,46,4,PG-13,1997,8.4,2298191,134,4,Japan,46,Hayao Miyazaki
350,Princess Mononoke,46,4,PG-13,1997,8.4,2298191,134,4,Japan,46,Hayao Miyazaki
351,Princess Mononoke,46,4,PG-13,1997,8.4,2298191,134,4,Japan,46,Hayao Miyazaki
352,Howl's Moving Castle,46,4,PG,2004,8.2,4710455,119,4,Japan,46,Hayao Miyazaki
353,Howl's Moving Castle,46,4,PG,2004,8.2,4710455,119,4,Japan,46,Hayao Miyazaki
354,Howl's Moving Castle,46,4,PG,2004,8.2,4710455,119,4,Japan,46,Hayao Miyazaki

In [13]:
hayaomiyazaki["title_year"].value_counts()

1997    3
2004    3
2001    3
Name: title_year, dtype: int64

In [ ]:
assert_frame_equal(miyazaki, sol.miyazaki)

In [14]:
"""Q5: 
Create a Pivot Table that shows the median rating for each director, grouped by their respective countries. Name your variable
'pivot_agg'
"""

# your code here

pivot_agg = pd.pivot_table(data=df, index="country", values="imdb_score", columns="director_name")

In [15]:
pivot_agg

director_name,Akira Kurosawa,Alejandro Amenabar,Alejandro G. Inarritu,Alfred Hitchcock,Andrew Stanton,Anthony Russo,Asghar Farhadi,Billy Bob Thornton,Billy Wilder,Brad Bird,...,Tim Burton,Tim Miller,Tom McCarthy,Tony Kaye,Tony Scott,Victor Fleming,Vincent Paronnaud,Wes Anderson,Wolfgang Petersen,Woody Allen
country,,,,,,,,,,,,,,,,,,,,,
Argentina,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Australia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Brazil,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Canada,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Denmark,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
France,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,8.0,NaN,NaN,NaN
Germany,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
India,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Iran,NaN,NaN,NaN,NaN,NaN,NaN,8.4,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Ireland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Italy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Japan,8.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Mexico,NaN,NaN,8.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
New Zealand,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
South Korea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Spain,NaN,8.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
UK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
USA,NaN,NaN,8.1,8.5,8.3,8.2,NaN,8.0,8.3,8.0,...,8.0,8.1,8.1,8.6,8.0,8.15,NaN,8.1,NaN,8.1
West Germany,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.4,NaN

In [ ]:
assert_frame_equal(pivot_agg, sol.pivot_agg)

In [16]:
"""Q6:
How long did the movie Gladiator aim to keep your attention? Save the series with this information
in a variable called 'gladiator_duration', then print it.
"""

# your code here

df[df["movie_title"] == "Gladiator"]

,movie_title,director_id,country_id,content_rating,title_year,imdb_score,gross,duration,id_x,country,id_y,director_name
203,Gladiator,90,1,R,2000,8.5,187670866,171,1,USA,90,Ridley Scott
204,Gladiator,90,1,R,2000,8.5,187670866,171,1,USA,90,Ridley Scott
205,Gladiator,90,1,R,2000,8.5,187670866,171,1,USA,90,Ridley Scott
206,Gladiator,90,1,R,2000,8.5,187670866,171,1,USA,90,Ridley Scott

In [ ]:
assert_series_equal(gladiator_duration, sol.gladiator_duration)